*.cache
*.tex
*.log
*.status
config/*
doc/*
*.bmarks
*.layout
libtool
*.m4
src/.libs/*
Makefile
*.in
*.lo
*.o
*.la
*.Po
*.exe
test/.libs/*
*.scan
src/.deps/*
examples/.deps/*
examples/.libs/*
configure
